@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-gray-100: #F3F6FF;
  --clr-gray-200: #EFF2FC;
  --clr-gray-300: #E2E5F1;
  --clr-gray-400: #D4D7E5;
  --clr-gray-500: #B4B7C9;
  --clr-gray-600: #9397AD;
  --clr-gray-700: #565973;
  --clr-gray-800: #33354D;
  --clr-gray-900: #0B0F19;
  
  --clr-bg: #FFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.6rem;
}

.text-lg {
  font-size: 1.125rem;
}